<div class='userpane'>
  <div class='welcome-box'>
    <h1 class='app-title'>Wellth Water</h1>
    <h2 class='user-greeting'>Hello, {{userName}}</h2>
  </div>
  <div class='log-button' (click)='toggleShowForm()' *ngIf='!show'>
    <p class='log-button-text'>
      Log
      <br/>
      Drink
    </p>
  </div>


  <div class='donate-button' (click)='toggleDonateForm()' *ngIf='!showDonate'>
    <p class='donate-button-text'>Donate!</p>
  </div>

  <div class='donate-form-section' *ngIf='showDonate'>
    <button class='donate-form-button' type='button' (click)='toggleDonateForm()'>Back</button>
  </div>


  <div class='entry-form-section' *ngIf='show'>
    <p class='entry-form-title'>Add a new drink entry:</p>
    <form class='entry-form'>
      <label class='entry-form-label' for='drink-type'>Drink Type</label>
      <select [(ngModel)]="drinktype" id="drink-dd" name="drink-type">
        <option value="coffee">Coffee</option>
        <option value="tea">Tea</option>
        <option value="wine">Wine</option>
        <option value="mixed drinks">Mixed Drinks</option>
        <option value="beer">Beer</option>
      </select>
      <br />
      <label class='entry-form-label' for='drink-price'>Price</label>
      <span class='dollar-sign'>$<input [(ngModel)]='price' type="number" id="price" name="drink-price"></span>
      <br />
      <div class='button-hflex'>
        <button class='entry-form-button' type='button' (click)='submitEntryForm()'>Log</button>
        <button class='entry-form-button' type='button' (click)='toggleShowForm()'>Back</button>
      </div>
    </form>
  </div>
  <div class='progress-box'>
    <h3 class='progress-text'>Progress to next well:</h3>
    <div class='progress-bar'>
      <div class='inner-bar' [style.width.%]='barWidth'></div>
    </div>
    <span class='total-out-text'><span>{{allEntriesTotal*.01 | currency: USD}}</span> / $3000</span>
  </div>
</div>
