h1, h2, h3, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ng-fa-icon {
  font-size: 30px;
  padding: 0px 10px;
}

.userpane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 68vh;
  width: 40vw;
  text-align: center;
}

.user-greeting {
  color: white;
  font-size: 50px;
}

.log-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 80px;
  width: 240px;
  text-align: center;
  color: white;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: -40px;
}

.log-button:hover {
  background-color: #62B6CB;
  border: 2px solid #62B6CB;
  cursor: pointer;
}

.log-button-text {
  font-size: 30px;
  justify: center;
}

.entry-form-section {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  height: 210px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(190, 233, 232, .4);
  border: 2px solid rgba(190, 233, 232, .4);
}

.entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: bold;
}

.entry-form-title {
  font-size: 26px;
  color: white;
}

#drink-dd {
  border: 0;
  height: 24px;
  width: 122px;
  font-size: 16px;
}

#price{
  height: 20px;
  width: 70px;
  margin-left: 4px;
  border-radius: 6px;
  border: 0px;
  text-align: center;
  font-size: 16px;
}

.donate-form-section {
  background-color: white;
  border: 1px solid black;
  height: 160px;
  width: 435px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(190, 233, 232, .4);
  border: 2px solid rgba(190, 233, 232, .4);
  border-radius: 6px;
}

.donate-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 80px;
  width: 240px;
  text-align: center;
  color: white;
  border-radius: 6px;
  margin: -60px auto;
}

.donate-button:hover {
  background-color: #62B6CB;
  border: 2px solid #62B6CB;
  margin: -60px auto;
  cursor: pointer;
}

.donate-button-text,
.log-button-text {
  font-size: 30px;
  justify: center;
}

.donate-form-text {
  color: white;
  font-size: 26px;
}

.donate-form-text-head {
  font-size: 36px;
  font-weight: bold;
}

.donate-prompt-text {
  color: white;
}

.button-hflex {
  display: flex;
  justify-content: space-between;
}

.entry-form-label {
  margin-bottom: 10px;
}

.entry-form-button {
  border: 1px solid white;
  text-align: center;
  border-radius: 6px;
  width: 86px;
  height: 24px;
  margin: 0px 20px;
  color: white;
  background-color: transparent;
  font-size: 15px;
}

.entry-form-button:hover {
  background-color: #62B6CB;
  border: 1px solid #62B6CB;
  color: white;
  cursor: pointer;
}

.progress-box {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-text {
  color: white;
  font-size: 22px;
}

.progress-bar {
  border: 2px solid white;
  border-radius: 16px;
  height: 40px;
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid rgba(255, 255, 255, .5);
  margin: 0 100px !important;
}

.inner-bar {
  height: 5px;
  border-radius: 16px;
  background-color: #62B6CB;
  height: 40px;
}

.total-out-text {
  font-size: 28px;
  color: #62B6CB;
  text-shadow: 1px 1px 1px white;
}

.progress-bar {
  margin: 0 auto;
}
