h1, h2, h3, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userpane {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
  height: 90vh;
  width: 40vw;
  text-align: center;
  background-color: #FFF2D6;
}

.welcome-box {
  border: 1px solid black;
  background-color: #E5F1FF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  margin: 0px 30px;
}

.app-title {
  font-size: 62px;
}

.user-greeting {
  font-style: italic;
}

.log-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  text-align: center;
  background-color: #A8FFE0;
}

.log-button-text {
  font-size: 40px;
  justify: center;
}

.entry-form-section {
  background-color: white;
  border: 1px solid black;
  height: 200px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.donate-form-section {
  background-color: white;
  border: 1px solid black;
  height: 200px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.donate-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: #A8FFE0;
  margin: -60px auto;
}

.button-hflex {
  display: flex;
  justify-content: space-between;
}

.entry-form-label {
  margin-bottom: 10px;
}

.entry-form-button,
.donate-form-button {
  margin: 0px 20px;
}

.progress-box {
  border: 1px solid black;
  background-color: #E5F1FF;
  height: 100px;
  margin: 0px 30px;
}

.progress-text {
}

.progress-bar {
  border: 1px solid black;
  height: 40px;
  background-color: #F4F9FF;
  margin: 0 40px !important;
}

.inner-bar {
    height: 5px;
    background-color: #333;
    height: 40px;
}


.log-button, .progress-bar {
  margin: 0 auto;
}
