.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
}

.app-heading-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 24px;
}

.app-logo {
  width: 140px;
  hegiht: 140px;
}

.app-horizontal-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 84px;
  font-family: Cabin Sketch;
  color: #62B6CB;
  margin: 0px;
  margin-top: -40px;
  padding-bottom: 5px;
  font-weight: normal;
}
