p, h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.logpane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 68vh;
  text-align: center;
}

.entries-text {
  font-size: 50px;
}

.overflow-scrollbox {
  overflow-y: hidden;
}

.total-foot {
  margin-top: 10px;
}

.total-text {
  font-size: 60px;
  color: #62B6CB;
  text-shadow: 2px 2px 2px white;
  font-family: Cabin Sketch;
}

.total-heading {
  font-style: italic;
  padding: 0px 0px 5px 0px;
  margin-left: 150px;
  font-size: 24px;
}
