p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.logpane {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75vh;
  width: 40vw;
  text-align: center;
}

.entries-head {
  padding: 10px;
}

.entries-text {
  font-size: 40px;
}

.overflow-scrollbox {
  overflow-y: hidden;
}

.total-foot {
}

.total-text {
  font-size: 60px;
}

.total-heading {
  font-style: italic;
  padding: 0px 0px 5px 0px;
  margin-left: 150px;
  font-size: 24px;
}
