p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logpane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid tomato;
  height: 90vh;
  width: 40vw;
}

.entries-head {

}

.entries-text {

}

.entries-section {

}

.entry-maintext {

}

.entry-subtext {

}

.total-foot {

}

.total-text {

}

.total-heading {

}
