@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
html, body {
  background-color: #95E0F9;
  background-image: url('https://i.imgur.com/we7Q26I.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: hidden;
  font-family: Roboto;
}
