@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  background-color: #95E0F9;
  background-image: url('https://imgur.com/bm98Iqw.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: hidden;
  font-family: Roboto;
}
