<section class='entries-scrollbox'>
  <ul class='entries-list' *ngIf='userEntries?.length > 0'>
    <li *ngFor="let entry of userEntries" class='entry'>
      <div class='scrollbox-section'>
          <fa-icon [icon]="faTint" id='icon'></fa-icon>
          <p class='entry-maintext'>{{entry.drinktype | titlecase}}</p>
          <p class='drink-price-text'>{{entry.amount * .01 | currency: USD}}</p>
      </div>
      <div class='scrollbox-section'>
        <p class='date entry-subtext'>{{entry.created_at | date: 'fullDate'}}</p>
        <p class='time entry-subtext'>{{entry.created_at | date: 'shortTime'}}</p>
      </div>
    </li>
  </ul>
  <div class='loading-section' *ngIf='!userEntries?.length > 0'>
    <h2 class='loading-text'>Loading...</h2>
  </div>
</section>
