<section class='entries-scrollbox'>
  <ul class='entries-list'>
    <li *ngFor="let entry of userEntries" class='entry'>
      <div class='drink-box'>
        <fa-icon [icon]="faTint"></fa-icon>
        <p class='entry-maintext'>{{entry.drinktype | titlecase}}</p>
        <p class='entry-maintext'>{{entry.amount * .01 | currency: USD}}</p>
      </div>
      <div class='time-box'>
        <p class='entry-subtext'>{{entry.created_at | date: 'fullDate'}}</p>
        <p class='entry-subtext'>{{entry.created_at | date: 'shortTime'}}</p>
      </div>
    </li>
  </ul>
</section>
