// Specific Selectors

p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  border-radius: 6px;
  background-color: rgba(190, 233, 232, .4);
  border: 2px solid rgba(190, 233, 232, .4);
  padding: 10px;
  margin: 10px;
  width: 320px;
  list-style: none;
}

#icon {
  font-size: 30px;
  color: #b7dcf7;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

// Component Layout

.entries-scrollbox {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 395px;
  color: white;
}

.scrollbox-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

// Text

.drink-price-text {
  font-weight: bold;
  font-size: 32px;
}

.entry-maintext {
  font-size: 24px;
}

.entry-subtext {
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

// Hover States

li:hover{
  border: 2px solid white;
  background-color: rgba(190, 233, 232, .7);
}
