p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  border-radius: 6px;
  background-color: white;
  margin: 20px;
  padding: 20px;
  padding-right: 80px;
}

#icon {
  font-size: 30px;
  color: #62B6CB;
  padding-left: 80px;
}

.entries-scrollbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  height: 395px;
  opacity: 0.65;
}

.drink-box,
.time-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.time-box {
  justify-content: space-around;
}

.time-box p {
  color: #62B6CB;
}

.entry {
  border: 1px solid white;
  list-style: none;
}

.entry-maintext {
  font-size: 28px;
  padding: 5px;
  text-align: left;
}

.entry-subtext {
  font-style: italic;
  padding: 5px;
}

.date {
  padding-left: 80px;
  padding-right: 80px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
