p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entries-scrollbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  height: 395px;
  background-color: white;
  opacity: 0.65;
}

.entries-list {
  border: 3px solid black;
  margin: 10px 40px;
}

.drink-box,
.time-box {
  display: flex;
  justify-content: space-between;
}

.time-box {
  justify-content: space-around;
}

.entry {
  border: 1px solid black;
  list-style: none;
}

.entry-maintext {
  font-size: 28px;
  padding: 5px;
  text-align: left;
}

.entry-subtext {
  font-style: italic;
  padding: 5px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
